.spinner { /*Задает стиль оформления для class="spinner". Внутри {} находятся параметры для отображения*/
   display: inline-block; /*Указывает как элемент должен быть показан в документе. block - элемент отображается как блок*/
   width: 15px; /*Ширина блока 35 пикселей*/
   height: 15px; /*Высота блока 35 пикселей*/
   margin: 80 px 150 px; /*Отступы сверху снизу и по бокам*/
   position: relative; /*Указывает где элемент находится в документе. Параметр relative задает относительное позиционирование (например на 20 пикселей ниже относительно нормального своего положения)*/
   top: 5px; /*Указывает что позиция элемента на 20 пикселей ниже своего нормального положения*/
   left: 0px; /*Указывает что позиция элемента на 20 пикселей ниже своего нормального положения*/
			   
   border: 2px solid RGBa(0, 0, 0, 0.5); /*Задает толщину, стиль, цвет рамки. solid сплошная рамка, rgba цвет рамки (a - полупразрачность)*/
   border-top-color: transparent; /*Задает цвет рамки сверху. transparent прозрачная*/
   border-radius: 100%; /*Устанавивает радиус скругления углов рамки. 100% идеальный круг*/
   
   /*Пример сокращенной записи свойств анимации, в каком порядке должны идти параметры: animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill -mode>;)*/
   /*Вендор префиксы -webkit, -moz, -ms, -o*/   
   -webkit-animation: spin 1s infinite linear; /*Свойства анимации с указанием имени, продолжительности, не останавливается, кривая Безье 3-го порядка с координатами P1(0.0, 0.0) P2(1.0, 1.0) задает плавное вращение в Safari, Chrome*/
   -moz-animation: spin 1s infinite linear; /*Свойства анимации с указанием имени, продолжительности, не останавливается, кривая Безье 3-го порядка с координатами P1(0.0, 0.0) P2(1.0, 1.0) задает плавное вращение в Mozilla*/
   -ms-animation: spin 1s infinite linear; /*Свойства анимации с указанием имени, продолжительности, не останавливается, кривая Безье 3-го порядка с координатами P1(0.0, 0.0) P2(1.0, 1.0) задает плавное вращение в MS Explorer*/
   -o-animation: spin 1s infinite linear; /*Свойства анимации с указанием имени, продолжительности, не останавливается, кривая Безье 3-го порядка с координатами P1(0.0, 0.0) P2(1.0, 1.0) ззадает плавное вращение в Opera*/
   animation: spin 1s infinite linear; /*Свойства анимации с указанием имени, продолжительности, не останавливается, кривая Безье 3-го порядка с координатами P1(0.0, 0.0) P2(1.0, 1.0) задает плавное вращение*/
}
			   
.spinner:after { /*Псевдоэлемент, :after в конце блока spinner. :before в начале*/
   content: ''; /*Задает содержимое в конце блока, используется только с псевдоэлементами :before :after. Используется хак, вместо значения стоят кавычки '' поэтому мы видим треугольник*/
   display: block; /*Указывает как элемент должен быть показан в документе. block - элемент отображается как блок*/
   width: 0; /*Ширина блока 0 пикселей*/
   height: 0; /*Ширина блока 0 пикселей*/
   position: absolute; /*Указывает где элемент находится в документе. Параметр absolute задает абсолютное позиционирование относительно другого блока или окна (например на 20 пикселей ниже относительно блока spinner)*/
   top: -6px; /*Указывает что позиция элемента на 6 пикселей выше блока spinner*/
   left: 0px; /*Указывает что позиция элемента на 0 пикселей правее блока spinner*/
				  
   border: 5px solid transparent; /*Задает толщину, стиль, цвет рамки. solid сплошная рамка, transparent празрачная*/
   border-bottom-color: RGBa(0, 0, 0, 0.5); /*Задает цвет рамки снизу. rgba цвет рамки (a - полупразрачность)*/
			   
   -webkit-transform: rotate(45deg); /*Трансформирует элемент, поворачивая его на 45 градусов в Safari, Chrome*/
   -moz-transform: rotate(45deg); /*Трансформирует элемент, поворачивая его на 45 градусов в Mozilla*/
   -ms-transform: rotate(45deg); /*Трансформирует элемент, поворачивая его на 45 градусов в MS Explorer*/
   -o-transform: rotate(45deg); /*Трансформирует элемент, поворачивая его на 45 градусов в Opera*/
   transform: rotate(45deg); /*Трансформирует элемент, поворачивая его на 45 градусов*/
}
			
@-webkit-keyframes spin { /*Создает правило с именем spin в Safari, Chrome(лучше не брать в кавычки)*/
   to { -webkit-transform: rotate(360deg); } /*Записывает в правило поворот элемента на 360 градусов в Safari, Chrome (при меремещении элемента задается from{} to{})*/
}
 
@-moz-keyframes spin { /*Создает правило с именем spin в Mozilla*/
   to { -moz-transform: rotate(360deg); } /*Записывает в правило поворот элемента на 360 градусов в Mozilla*/
}
			   
@-ms-keyframes spin { /*Создает правило с именем spin в MS Exlorer*/
   to { -ms-transform: rotate(360deg); } /*Записывает в правило поворот элемента на 360 градусов в MS Explorer*/
}  
			
@-o-keyframes spin { /*Создает правило с именем spin в Opera*/
   to { -o-transform: rotate(360deg); } /*Записывает в правило поворот элемента на 360 градусов в Opera*/
}
			
@keyframes spin { /*Создает правило с именем spin*/
   to { transform: rotate(360deg); } /*Записывает в правило поворот элемента на 360 градусов*/
}